# US Flight Delay Analysis - Winter Season (2018-2019)
This notebook contains the analysis of the "On-Time : Reporting Carrier On-Time Performance" dataset, for: December 2018, January 2019 and February 2019.

In terms of technology, we will use pandas for the data manipulation and analysis.

Each phase of the process followed is indicated by cronological order.

### Imports:

In [2]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import os
import matplotlib.pyplot as plt

# 01. Data Loading

In [4]:
#Winter Season dataset
df = pd.read_csv('C:\\Users\\GerardEspejo\\Desktop\\TFM\\Data\\Winter_Season.csv')
df.sample(5)

,Unnamed: 0,Year,Quarter,Month,DayOfMonth,DayOfWeek,FlightDate,UniqueCarrier,Carrier,RegistrationNum,...,CRSElapsedTimeMin,ActualElapsedTimeMin,FlightTimeMin,NumberOfFlights,DistanceMil,Distance_Int250Mil,DepTime2,ArrTime2,DepDateTime,ArrDateTime
1192556,1192556,2019,1,2,18,1,2019-02-18,AA,AA,N903AN,...,130.0,158.0,97.0,1.0,541.0,3,19:47,22:25,2019-02-18 19:47:00,2019-02-18 22:25:00
186348,186348,2018,4,12,9,7,2018-12-09,OO,OO,N160SY,...,143.0,135.0,109.0,1.0,674.0,3,11:06,12:21,2018-12-09 11:06:00,2018-12-09 12:21:00
816480,816480,2019,1,1,31,4,2019-01-31,B6,B6,N353JB,...,72.0,56.0,32.0,1.0,184.0,1,13:53,14:49,2019-01-31 13:53:00,2019-01-31 14:49:00
50036,50036,2018,4,12,10,1,2018-12-10,MQ,MQ,N849AE,...,145.0,NaN,NaN,1.0,708.0,3,NaN,NaN,NaN,NaN
708712,708712,2019,1,1,6,7,2019-01-06,AA,AA,N818NN,...,197.0,196.0,143.0,1.0,1089.0,5,13:36,16:52,2019-01-06 13:36:00,2019-01-06 16:52:00

In [6]:
correlation = df.corr
correlation.plot

AttributeError: 'function' object has no attribute 'plot'