In [22]:
import pandas as pd
import numpy as np

In [23]:
import os
cwd = os.getcwd()
cwd

'C:\\Users\\GerardEspejo\\Desktop\\TFM\\TFM'

In [24]:
df = pd.read_csv('C:\\Users\\GerardEspejo\\Desktop\\TFM\\Data\\Reporting Carrier On-Time Performance.csv')
df.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,...,AIR_TIME,FLIGHTS,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 48
0,2018,1,1,27,6,2018-01-27,UA,UA,N26232,369,...,148.0,1.0,966.0,4,NaN,NaN,NaN,NaN,NaN,NaN
1,2018,1,1,27,6,2018-01-27,UA,UA,N477UA,368,...,98.0,1.0,679.0,3,NaN,NaN,NaN,NaN,NaN,NaN
2,2018,1,1,27,6,2018-01-27,UA,UA,N13720,367,...,190.0,1.0,1208.0,5,NaN,NaN,NaN,NaN,NaN,NaN
3,2018,1,1,27,6,2018-01-27,UA,UA,N16217,366,...,212.0,1.0,1744.0,7,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,1,1,27,6,2018-01-27,UA,UA,N33714,365,...,112.0,1.0,820.0,4,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df.columns

Index(['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'OP_UNIQUE_CARRIER', 'OP_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM',
       'ORIGIN_AIRPORT_ID', 'ORIGIN_CITY_MARKET_ID', 'ORIGIN',
       'ORIGIN_STATE_ABR', 'ORIGIN_STATE_NM', 'ORIGIN_WAC', 'DEST_AIRPORT_ID',
       'DEST_CITY_MARKET_ID', 'DEST', 'DEST_STATE_ABR', 'DEST_STATE_NM',
       'DEST_WAC', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'DEP_DELAY_NEW',
       'DEP_DEL15', 'DEP_DELAY_GROUP', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'ARR_DELAY_NEW', 'ARR_DEL15', 'ARR_DELAY_GROUP', 'CANCELLED',
       'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME',
       'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'FLIGHTS', 'DISTANCE',
       'DISTANCE_GROUP', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY',
       'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY', 'Unnamed: 48'],
      dtype='object')

In [26]:
df_flights_list = df[['YEAR', 'FL_DATE', 'ORIGIN_AIRPORT_ID', 'ORIGIN', 'DEST_AIRPORT_ID', 'DEST', 'DEP_DELAY', 'ARR_DELAY', 'CANCELLED']]
df_flights_list.head(10)

,YEAR,FL_DATE,ORIGIN_AIRPORT_ID,ORIGIN,DEST_AIRPORT_ID,DEST,DEP_DELAY,ARR_DELAY,CANCELLED
0,2018,2018-01-27,11697,FLL,12266,IAH,-13.0,-12.0,0.0
1,2018,2018-01-27,14747,SEA,14771,SFO,-4.0,-18.0,0.0
2,2018,2018-01-27,11278,DCA,12266,IAH,-2.0,1.0,0.0
3,2018,2018-01-27,12892,LAX,13930,ORD,-9.0,-8.0,0.0
4,2018,2018-01-27,12451,JAX,11618,EWR,-14.0,-24.0,0.0
5,2018,2018-01-27,12266,IAH,14107,PHX,-7.0,-19.0,0.0
6,2018,2018-01-27,11618,EWR,12173,HNL,27.0,19.0,0.0
7,2018,2018-01-27,12173,HNL,11618,EWR,8.0,-23.0,0.0
8,2018,2018-01-27,12889,LAS,14771,SFO,-5.0,-22.0,0.0
9,2018,2018-01-27,12264,IAD,15304,TPA,-7.0,-18.0,0.0

In [27]:
max_delay_mins = df_flights_list[['DEP_DELAY']].max()
max_delay_hours = max_delay_mins/60
max_delay_hours

DEP_DELAY    33.45
dtype: float64

In [28]:
df_flights_list.sort_values(by=['DEP_DELAY'])

,YEAR,FL_DATE,ORIGIN_AIRPORT_ID,ORIGIN,DEST_AIRPORT_ID,DEST,DEP_DELAY,ARR_DELAY,CANCELLED
56328,2018,2018-01-23,15991,YAK,12523,JNU,-50.0,-38.0,0.0
301885,2018,2018-01-03,12889,LAS,14570,RNO,-49.0,-73.0,0.0
60266,2018,2018-01-31,15991,YAK,12523,JNU,-49.0,-46.0,0.0
303223,2018,2018-01-03,14570,RNO,12889,LAS,-46.0,-48.0,0.0
242437,2018,2018-01-11,11433,DTW,11003,CID,-46.0,-9.0,0.0
223072,2018,2018-01-05,12519,JMS,11447,DVL,-45.0,-57.0,0.0
52411,2018,2018-01-15,15991,YAK,12523,JNU,-45.0,-31.0,0.0
250467,2018,2018-01-26,14150,PLN,10333,APN,-43.0,-56.0,0.0
51441,2018,2018-01-13,15991,YAK,10926,CDV,-43.0,-50.0,0.0
220862,2018,2018-01-20,13241,MEI,14109,PIB,-42.0,-46.0,0.0
51900,2018,2018-01-14,10926,CDV,10299,ANC,-42.0,-32.0,0.0
59775,2018,2018-01-30,15991,YAK,12523,JNU,-42.0,-27.0,0.0
50452,2018,2018-01-11,15991,YAK,12523,JNU,-40.0,-34.0,0.0
243875,2018,2018-01-11,14150,PLN,10333,APN,-40.0,-18.0,0.0
219874,2018,2018-01-19,12519,JMS,11447,DVL,-39.0,-47.0,0.0
53897,2018,2018-01-18,15991,YAK,12523,JNU,-39.0,-20.0,0.0
48940,2018,2018-01-08,12819,KTN,14747,SEA,-38.0,-13.0,0.0
53878,2018,2018-01-18,15991,YAK,10926,CDV,-38.0,-30.0,0.0
53389,2018,2018-01-17,14256,PSG,15841,WRG,-37.0,-22.0,0.0
53379,2018,2018-01-17,10926,CDV,10299,ANC,-37.0,-44.0,0.0
55344,2018,2018-01-21,10926,CDV,15991,YAK,-37.0,-24.0,0.0
232075,2018,2018-01-21,14150,PLN,10333,APN,-37.0,-50.0,0.0
55345,2018,2018-01-21,15991,YAK,12523,JNU,-37.0,-41.0,0.0
59277,2018,2018-01-29,15991,YAK,12523,JNU,-37.0,-45.0,0.0
57821,2018,2018-01-26,14256,PSG,15841,WRG,-36.0,-35.0,0.0
215610,2018,2018-01-17,15454,UIN,10967,CGI,-35.0,-42.0,0.0
52905,2018,2018-01-16,15991,YAK,12523,JNU,-35.0,-39.0,0.0
57832,2018,2018-01-26,10926,CDV,15991,YAK,-35.0,-33.0,0.0
56298,2018,2018-01-23,14709,SCC,10754,BRW,-35.0,-36.0,0.0
58769,2018,2018-01-28,15991,YAK,10926,CDV,-35.0,-27.0,0.0
...,...,...,...,...,...,...,...,...,...
560967,2018,2018-01-18,15304,TPA,10397,ATL,NaN,NaN,1.0
561023,2018,2018-01-18,10529,BDL,10397,ATL,NaN,NaN,1.0
561058,2018,2018-01-18,11057,CLT,10397,ATL,NaN,NaN,1.0
561060,2018,2018-01-18,14492,RDU,12892,LAX,NaN,NaN,1.0
561063,2018,2018-01-18,10599,BHM,10397,ATL,NaN,NaN,1.0
561073,2018,2018-01-18,14869,SLC,10397,ATL,NaN,NaN,1.0
561122,2018,2018-01-18,10397,ATL,11193,CVG,NaN,NaN,1.0
561140,2018,2018-01-18,10397,ATL,12264,IAD,NaN,NaN,1.0
561259,2018,2018-01-18,14321,PWM,10397,ATL,NaN,NaN,1.0
561275,2018,2018-01-18,14307,PVD,10397,ATL,NaN,NaN,1.0
561314,2018,2018-01-18,10397,ATL,14492,RDU,NaN,NaN,1.0
561315,2018,2018-01-18,14492,RDU,10397,ATL,NaN,NaN,1.0
561316,2018,2018-01-18,10397,ATL,14122,PIT,NaN,NaN,1.0
561317,2018,2018-01-18,14122,PIT,10397,ATL,NaN,NaN,1.0
562487,2018,2018-01-08,15304,TPA,12478,JFK,NaN,NaN,1.0
563132,2018,2018-01-08,14107,PHX,12478,JFK,NaN,NaN,1.0
563309,2018,2018-01-08,13204,MCO,12478,JFK,NaN,NaN,1.0
563481,2018,2018-01-08,14635,RSW,12478,JFK,NaN,NaN,1.0
563749,2018,2018-01-08,11292,DEN,12478,JFK,NaN,NaN,1.0
563807,2018,2018-01-08,12478,JFK,10721,BOS,NaN,NaN,1.0
564067,2018,2018-01-08,12478,JFK,15304,TPA,NaN,NaN,1.0
564163,2018,2018-01-08,12478,JFK,13204,MCO,NaN,NaN,1.0
564170,2018,2018-01-08,12478,JFK,11697,FLL,NaN,NaN,1.0
564173,2018,2018-01-08,12478,JFK,14027,PBI,NaN,NaN,1.0
564180,2018,2018-01-08,12478,JFK,14635,RSW,NaN,NaN,1.0
564207,2018,2018-01-08,12478,JFK,11292,DEN,NaN,NaN,1.0
564383,2018,2018-01-09,12478,JFK,11433,DTW,NaN,NaN,1.0
565025,2018,2018-01-09,13303,MIA,12478,JFK,NaN,NaN,1.0
565957,2018,2018-01-09,12478,JFK,14107,PHX,NaN,NaN,1.0
566427,2018,2018-01-09,12478,JFK,15304,TPA,NaN,NaN,1.0

In [33]:
#Check Dataframe dimensions: number of rows
len(df)

570118

In [35]:
#NaN Treatment
df_clean = df.dropna()
df_clean.head()

Empty DataFrame
Columns: [YEAR, QUARTER, MONTH, DAY_OF_MONTH, DAY_OF_WEEK, FL_DATE, OP_UNIQUE_CARRIER, OP_CARRIER, TAIL_NUM, OP_CARRIER_FL_NUM, ORIGIN_AIRPORT_ID, ORIGIN_CITY_MARKET_ID, ORIGIN, ORIGIN_STATE_ABR, ORIGIN_STATE_NM, ORIGIN_WAC, DEST_AIRPORT_ID, DEST_CITY_MARKET_ID, DEST, DEST_STATE_ABR, DEST_STATE_NM, DEST_WAC, CRS_DEP_TIME, DEP_TIME, DEP_DELAY, DEP_DELAY_NEW, DEP_DEL15, DEP_DELAY_GROUP, CRS_ARR_TIME, ARR_TIME, ARR_DELAY, ARR_DELAY_NEW, ARR_DEL15, ARR_DELAY_GROUP, CANCELLED, CANCELLATION_CODE, DIVERTED, CRS_ELAPSED_TIME, ACTUAL_ELAPSED_TIME, AIR_TIME, FLIGHTS, DISTANCE, DISTANCE_GROUP, CARRIER_DELAY, WEATHER_DELAY, NAS_DELAY, SECURITY_DELAY, LATE_AIRCRAFT_DELAY, Unnamed: 48]
Index: []

[0 rows x 49 columns]

In [37]:
df_flights_list_clean = df_flights_list.dropna()
df_flights_list_clean.head()

,YEAR,FL_DATE,ORIGIN_AIRPORT_ID,ORIGIN,DEST_AIRPORT_ID,DEST,DEP_DELAY,ARR_DELAY,CANCELLED
0,2018,2018-01-27,11697,FLL,12266,IAH,-13.0,-12.0,0.0
1,2018,2018-01-27,14747,SEA,14771,SFO,-4.0,-18.0,0.0
2,2018,2018-01-27,11278,DCA,12266,IAH,-2.0,1.0,0.0
3,2018,2018-01-27,12892,LAX,13930,ORD,-9.0,-8.0,0.0
4,2018,2018-01-27,12451,JAX,11618,EWR,-14.0,-24.0,0.0